:root:not(.theme-dark) {
	--tv-color-platform-background                          : #e0e3eb;
	--tv-color-pane-background                              : #fff;

	--tv-color-toolbar-button-background-hover              : #f0f3fa;
	--tv-color-toolbar-button-background-expanded           : #f0f3fa;

	--tv-color-toolbar-button-text                          : #131722;
	--tv-color-toolbar-button-text-hover                    : #131722;
	--tv-color-toolbar-button-text-active                   : #2962ff;
	--tv-color-toolbar-button-text-active-hover             : #1e53e5;

	--tv-color-item-active-text                             : #fff;
	--tv-color-toolbar-toggle-button-background-active      : #2962ff;
	--tv-color-toolbar-toggle-button-background-active-hover: #1e53e5;

	--tv-color-toolbar-divider-background                   : #e0e3eb;
	--tv-color-toolbar-save-layout-loader                   : #6a6d78;

	--tv-color-popup-background                             : #fff;

	--tv-color-popup-element-text                           : #131722;
	--tv-color-popup-element-text-hover                     : #131722;
	--tv-color-popup-element-text-active                    : #fff;
	--tv-color-popup-element-secondary-text                 : #787b86;
	--tv-color-popup-element-hint-text                      : #9598a1;
	--tv-color-popup-element-divider-background             : #e0e3eb;

	--tv-color-popup-element-background-hover               : #f0f3fa;
	--tv-color-popup-element-background-active              : #2962ff;

	--tv-color-popup-element-toolbox-text                   : #787b86;
	--tv-color-popup-element-toolbox-text-hover             : #131722;
	--tv-color-popup-element-toolbox-text-active-hover      : #90bff9;
	--tv-color-popup-element-toolbox-background-hover       : #131722;
	--tv-color-popup-element-toolbox-background-active-hover: #1848cc;
}

.theme-dark:root {
    --tv-color-platform-background							: rgb(43, 43, 43);
    --tv-color-pane-background								: rgb(24, 24, 24);
	
    --tv-color-toolbar-button-background-hover				: rgb(24, 24, 24);
    --tv-color-toolbar-button-background-expanded			: rgb(24, 24, 24);

    --tv-color-toolbar-button-text							: rgb(134, 134, 134);
    --tv-color-toolbar-button-text-hover					: rgb(215, 215, 215);
    --tv-color-toolbar-button-text-active					: rgb(215, 215, 215);
    --tv-color-toolbar-button-text-active-hover				: rgb(215, 215, 215);
	
    --tv-color-item-active-text								: rgb(255, 255, 255);
    --tv-color-toolbar-toggle-button-background-active		: rgb(0, 120, 212);
    --tv-color-toolbar-toggle-button-background-active-hover: rgb(0, 120, 212);

    --tv-color-toolbar-divider-background					: rgb(43, 43, 43);
    --tv-color-toolbar-save-layout-loader					: rgb(0, 120, 212);

    --tv-color-popup-background								: rgb(24, 24, 24);

    --tv-color-popup-element-text							: rgb(134, 134, 134);
    --tv-color-popup-element-text-hover						: rgb(215, 215, 215);
	--tv-color-popup-element-text-active					: rgb(215, 215, 215);
	--tv-color-popup-element-secondary-text					: rgb(255, 255, 255);
    --tv-color-popup-element-hint-text						: rgb(255, 255, 255);
	--tv-color-popup-element-divider-background				: rgb(134, 134, 134);

    --tv-color-popup-element-background-hover				: rgb(42, 45, 46);
	--tv-color-popup-element-background-active				: rgb(55, 55, 61);

    --tv-color-popup-element-toolbox-text					: rgb(134, 134, 134);
    --tv-color-popup-element-toolbox-text-hover				: rgb(215, 215, 215);
    --tv-color-popup-element-toolbox-text-active-hover		: rgb(255, 255, 255);
    --tv-color-popup-element-toolbox-background-hover		: rgb(42, 45, 46);
    --tv-color-popup-element-toolbox-background-active-hover: rgb(55, 55, 61);
}


:root{
	font-size: 10px;

	--panel-spacing: 0.4rem;
	--panel-corner-radius: 0.33rem;
	--panel-padding-horizontal: 0.8rem;
	--panel-padding-vertical: 0.6rem;
	--panel-title-font-size: 3.3rem;
	--panel-title-font-weight: 500;
	--panel-title-font-family: 'Roboto', sans-serif;

	
	--panel-vertical-width: 5.4rem;
	--panel-horizontal-height: 3.8rem;

	--panel-top-height: var(--panel-vertical-width);
	--panel-bottom-height: var(--panel-horizontal-height);

	--panel-center-right-width: 40rem;
	--panel-center-right-width-min: calc(var(--panel-vertical-width) + var(--panel-spacing) + var(--panel-spacing));
}


body{
	margin:0;
	background-color: var(--tv-color-platform-background);
}
body *{
	box-sizing: border-box;
}

#app{
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	display:flex;
	flex-direction:column;
}
#app > #panel-top{
	background-color: var(--tv-color-pane-background);

	height: var(--panel-top-height);
	width: 100vw;
	padding: var(--panel-padding-horizontal) var(--panel-padding-vertical);
	margin-bottom: var(--panel-spacing);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: var(--panel-top-height);
}
#app > #panel-top > #panel-top_left {
	grid-column:1;
	grid-row: 1;
	height: calc(var(--panel-top-height) - var(--panel-padding-horizontal) * 2);
	display:flex;
	flex-direction:row;
}
#app > #panel-top > #panel-top_right {
	grid-column:3;
}
#app > #panel-center{
	background-color: var(--tv-color-platform-background);

	height: calc(100vh - var(--panel-horizontal-height) - var(--panel-bottom-height) - calc(2 * var(--panel-spacing)));
	width: 100vw;
	margin-bottom: var(--panel-spacing);

	display:flex;
	flex-direction:row;
}
#app > #panel-center > #panel-center_left {
	height:100%;
	width: calc(100vw - var(--panel-center-right-width));
}
#app > #panel-center > #panel-center_right {
	height:100%;
	width: var(--panel-center-right-width);
	min-width: var(--panel-center-right-width-min);
	display: flex;
	flex-direction: column;
}
#app > #panel-center > #panel-center_right > #panel-center_right_top {
	height: var(--panel-horizontal-height);
	margin-bottom: var(--panel-spacing);
	background-color: var(--tv-color-platform-background);
	display: grid;
	grid-template-columns: calc(var(--panel-spacing)*2) 1fr;
}

#app > #panel-center > #panel-center_right > #panel-center_right_center {
	height: calc(100% - var(--panel-horizontal-height));
	background-color: var(--tv-color-platform-background);
	display: grid;
	grid-template-columns: calc(var(--panel-spacing)*2) 1fr calc(var(--panel-vertical-width) + var(--panel-spacing));
}
#app > #panel-bottom{
	background-color: var(--tv-color-pane-background);

	height: var(--panel-bottom-height);
	width: 100vw;
}