
.panel			{background-color: var(--tv-color-pane-background);}
.panel.right	{border-radius: var(--panel-corner-radius) 0 0 var(--panel-corner-radius);}
.panel.center	{border-radius: var(--panel-corner-radius);}
.panel.left		{border-radius: 0 var(--panel-corner-radius) var(--panel-corner-radius) 0;}
.panel.bottom	{border-radius: var(--panel-corner-radius) var(--panel-corner-radius) 0 0;}
.panel.top		{border-radius: 0 0 var(--panel-corner-radius) var(--panel-corner-radius);}

.button{
	width: calc(var(--panel-top-height) - var(--panel-padding-horizontal) * 2);
	height: calc(var(--panel-top-height) - var(--panel-padding-horizontal) * 2);
	margin: var(--panel-padding-horizontal);
}
.button img{
	border-radius: var(--panel-corner-radius);
}
.panel-title{
	font-size: var(--panel-title-font-size);
	font-weight: var(--panel-title-font-weight);
	font-family: var(--panel-title-font-family);
	margin: var(--panel-padding-horizontal);
	margin-left: 0;
}