/* ░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓ SCALING								▓▓▒▒▒▒▒▒▒░░░░░░░░░░░░░░ */
/* —————————————————————————————————————————— SMALL —————————————————————————————————————————————————————— */
@media only screen and (max-width: 756px)	{
	:root{
		font-size 								:	16px									;
		--bh-s-f-display						:	none									;
		--bh-pl-l-width							:	5rem									;
		--bh-s-modus							:	small									;
	}
}
/* —————————————————————————————————————————— LARGE ————————————————————————————————————————————————————— */
@media only screen and (min-width: 756px) 		{
	:root{
		font-size 								:	16px									;
		--bh-s-f-display						:	flex									;
		--bh-pl-l-width							:	11rem									;
		--bh-s-modus							:	large									;
	}
}
