/* ░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓ barheader								▓▓▒▒▒▒▒▒▒░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓ Control								▓▓▒▒▒▒▒▒▒░░░░░░░░░░░░░░ */
:root{
	--bh-height									:	3.6rem								;

	--bh-p-icon-height							:	var(--bh-height)						;
	--bh-p-icon-width							:	4rem								;

	--bh-pl-i-width								:	var(--bh-p-icon-width)				;
	--bh-pl-l-width								:	11rem								;

	--bh-pe-width								:	calc( 4 * var(--bh-p-icon-width) )	;	/* X * 4rem , Amount of Buttons X */

	--bh-s-f-width-min							:	calc(100vw - (var(--bh-pl-i-width) + var(--bh-pl-l-width) + var(--bh-pe-width) + var(--bh-p-icon-width)));
	--bh-s-f-width-max							:	calc(100vw - ( 2 * ( var(--bh-p-icon-width))));


	--bh-s-width									:	auto								;									/* switch between auto and 100vw */
	--bh-s-f-width								:	var(--bh-s-f-width-min)				; 									/* Switch between these for MIN MAX ExptoMax DecrtoMin */
	--bh-s-position								:	relative							;
	--bh-s-right									:	var(--bh-pe-width)					;
}
/* ░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓ Tags									▓▓▒▒▒▒▒▒▒░░░░░░░░░░░░░░ */
#layers-barheader{
/* Placement */
	position									:	absolute							;
	top											:	0									;
	z-index										:	700									;

	height										:	var(--bh-height)					;
	width										:	100vw								;

	margin										:	0	0								;
	padding										:	0	0								;
/* Type */
	display										:	block								;
/* Style */
	background-color							:	var(--color-base-0)					;
	-moz-box-shadow								:	var(--shadow-drop-1)				;
	-webkit-box-shadow							:	var(--shadow-drop-1)				;
	box-shadow									:	var(--shadow-drop-1)				;
}
	#layers-barheader-platform{
		position								:	absolute							;
		left									:	0									;
		z-index									:	1									;

		height									:	var(--bh-height)					;
		width									:	calc(var(--bh-p-icon-width) + var(--bh-pl-l-width) );

		display									:	flex								;
		align-items								:	center								;
		}
		#layers-barheader-platform-drawer{}
		#layers-barheader-platform-logo{
			padding								:	calc(((var(--bh-height) - 1.25rem) / 2) - var(--borderpx))	0	;

			width								:	var(--bh-pl-l-width)					;

			font-family							:	'Biryani', sans-serif				;
			font-size							:	1.25rem								;
			font-weight							:	600									;
		}
	#layers-barheader-search{
		position								:	absolute							;
		right									:	var(--bh-s-right)					;		
		z-index									:	9									;

		width									:	auto								;
		height									:	var(--bh-height)					;
		min-width								:	var(--bh-p-icon-width)				;
		display									:	flex								;
		flex-direction							:	row									;
		background-color						:	var(--color-base-0)					;
	}
	#layers-barheader-search:hover{
		background-color						:	var(--color-base-1)					;
	}
		#layers-barheader-search-return{
			display								:	flex								;
			width								:	var(--bh-p-icon-width)				;
		}
		#layers-barheader-search-button{
			display								:	flex								;
			width								:	var(--bh-p-icon-width)				;
		}
		#layers-barheader-search-form{
			display								:	var(--bh-s-f-display)				;
			height								:	var(--bh-height)						;	
			width								:	var(--bh-s-f-width)					;
		}
			#layers-barheader-search-form-input{
				box-sizing						:	border-box							;
				padding							:	0	0	0	1rem					;
				/* margin							:	0	0	0	1rem					; */
				height							:	var(--bh-height)						;
				width							:	calc(100vw - (var(--bh-pl-i-width) + var(--bh-pl-l-width) + var(--bh-pe-width) + var(--bh-p-icon-width) ));
				flex-grow						:	5									;

				border							:	0									;
			}

	#layers-barheader-personal{
		position								:	absolute							;
		right									:	0									;
		z-index									:	2									;
		
		height									:	var(--bh-height)					;
		width									:	calc(4 * var(--bh-p-icon-width))		;

		display									:	flex								;
		flex-shrink								:	0									;
		flex-grow								:	0									;
	}
		#layers-barheader-personal-create{}
		#layers-barheader-personal-messages{}
		#layers-barheader-personal-alerts{}
		#layers-barheader-personal-account{}


/* ░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓ Classes								▓▓▒▒▒▒▒▒▒░░░░░░░░░░░░░░ */
.h-p-icon{
	display										:	flex								;
	justify-content								:	center								;
	
	padding										:	1.25rem	0							;
	min-width									:	var(--bh-p-icon-width)				;
	height										:	3.5rem								;
	
	height										:	var(--bh-p-icon-height)			;
	width										:	var(--bh-p-icon-width)				;
	padding										:	calc( (var(--bh-p-icon-height) - var(--svg-width-height)) / 2 )
												calc( (var(--bh-p-icon-width) 	- var(--svg-width-height)) / 2 ); /* Remain 1.2 x 1.2 rem cube for icon */

	color										:	var(--color-key-5)					;
	transition									:	var(--transition-0)					;}
.h-p-icon svg{
	width										:	4rem								;
}
.h-p-icon:hover{
	color										:	var(--color-key-6)					;
	color										:	var(--color-key-7)					;
	background-color							:	var(--color-key-0)					;}
.h-p-icon.active{
	color										:	var(--color-blue)					;
	background-color							:	var(--color-key-1)					;
}
.h-p-icon.active:hover{
	background-color							:	var(--color-key-2)					;
}
